<script type="module" src="/javascripts/webSockets.js"></script>

<div>
  <h1>Chat</h1>
  <div>
    <input id="message" type="text" />
    <button id="sendMessage">Send</button>
  </div>
  <ul class="chat-wrapper">
    <!-- messages -->
  </ul>
</div>