<h1>Chess Application</h1>
{{!-- this id is needed in order to call it in DOM Listener --}}
<div id='chess-container'>
  {{!this table will be programmed from js file 
 <table class='chess-board'>
     <tr>
      <td class='dark-square' id='A8'></td>
      <td class='light-square' id='B8'></td>
      <td class='dark-square' id='C8'></td>
      <td class='light-square' id='D8'></td>
      <td class='dark-square' id='E8'></td>
      <td class='light-square' id='F8'></td>
      <td class='dark-square' id='G8'></td>
      <td class='light-square' id='H8'></td>
    </tr>
    <tr>
      <td class='light-square' id='A7'></td>
      <td class='dark-square' id='B7'></td>
      <td class='light-square' id='C7'></td>
      <td class='dark-square' id='D7'></td>
      <td class='light-square' id='E7'></td>
      <td class='dark-square' id='F7'></td>
      <td class='light-square' id='G7'></td>
      <td class='dark-square' id='H7'></td>
    </tr>
    <tr>
      <td class='dark-square' id='A6'></td>
      <td class='light-square' id='B6'></td>
      <td class='dark-square' id='C6'></td>
      <td class='light-square' id='D6'></td>
      <td class='dark-square' id='E6'></td>
      <td class='light-square' id='F6'></td>
      <td class='dark-square' id='G6'></td>
      <td class='light-square' id='H6'></td>
    </tr>
    <tr>
      <td class='light-square' id='A5'></td>
      <td class='dark-square' id='B5'></td>
      <td class='light-square' id='C5'></td>
      <td class='dark-square' id='D5'></td>
      <td class='light-square' id='E5'></td>
      <td class='dark-square' id='F5'></td>
      <td class='light-square' id='G5'></td>
      <td class='dark-square' id='H5'></td>
    </tr>

    <tr>
      <td class='dark-square' id='A4'></td>
      <td class='light-square' id='B4'></td>
      <td class='dark-square' id='C4'></td>
      <td class='light-square' id='D4'></td>
      <td class='dark-square' id='E4'></td>
      <td class='light-square' id='F4'></td>
      <td class='dark-square' id='G4'></td>
      <td class='light-square' id='H4'></td>
    </tr>
    <tr>
      <td class='light-square' id='A3'></td>
      <td class='dark-square' id='B3'></td>
      <td class='light-square' id='C3'></td>
      <td class='dark-square' id='D3'></td>
      <td class='light-square' id='E3'></td>
      <td class='dark-square' id='F3'></td>
      <td class='light-square' id='G3'></td>
      <td class='dark-square' id='H3'></td>
    </tr>
    <tr>
      <td class='dark-square' id='A2'></td>
      <td class='light-square' id='B2'></td>
      <td class='dark-square' id='C2'></td>
      <td class='light-square' id='D2'></td>
      <td class='dark-square' id='E2'></td>
      <td class='light-square' id='F2'></td>
      <td class='dark-square' id='G2'></td>
      <td class='light-square' id='H2'></td>
    </tr>
    <tr>
      <td class='light-square' id='A1'></td>
      <td class='dark-square' id='B1'></td>
      <td class='light-square' id='C1'></td>
      <td class='dark-square' id='D1'></td>
      <td class='light-square' id='E1'></td>
      <td class='dark-square' id='F1'></td>
      <td class='light-square' id='G1'></td>
      <td class='dark-square' id='H1'></td>
    </tr>

  </table> }}
</div>