<html>
  <head>
    <title>Chess Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id='sidebar'>
      <a href=''>Home</a>

      <a href=''>News</a>
    </nav>
    {{{body}}}
  </body>
</html>