<html>

<head>
  <title>Chess Game</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body> 
  <script src='javascripts/placePieces.js'>
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      // get element with id = chess-container in html view
      const chessboardContainer = document.getElementById('chess-container');

      //Client sent request pov to server     
      const pov = 'white';
      const initFen = 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR';

      // fetch data by sending request with pov parameter, then route will send the res of table side over '/', then implement placePieces() 
      //In the context of the fetch function, if we don't specify the method, it defaults to a GET request.
      fetch(`/?pov=${pov}`)
        .then(response => response.text())
        .then(async chessboardHTML => {
          // chessboardHTML is response from server
          //console.log('test', chessboardHTML)
          // client gets chessboard form server and place the pieces with fen
          chessboardContainer.innerHTML = chessboardHTML;

          // Call a function to place pieces here (not implemented in this snippet)
          await placePieces(initFen);
      
        })
        .catch(error => {
          console.error('Error fetching chessboard:', error);
        });
    });
  </script>
  <nav id='sidebar'>
    <a href=''>Home</a>

    <a href=''>News</a>
  </nav>
  {{{body}}}
</body>

</html>