<html>

<head>
  <title>Chess Game</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body> 
  <script type="module" src='javascripts/placePieces.js'>
  </script>

  
  <nav id='sidebar'>
    <a href=''>Home</a>

    <a href=''>News</a>
  </nav>
  {{{body}}}
</body>

</html>