/* define css variable here */
:root {
  --blue: #00b7ff;
  --black: black;
  --dark-square: #b58863;
  --light-square: #f0d9b5;
  --white: white;
  --chessboard-size: 90vw; /* Initial size of the chessboard relative to the viewport width */
  --square-size: calc(var(--chessboard-size) -100px / 8);
  --board-size : calc(var(--square-size) * 8);
  --layout-padding-inline: 2rem;
}

body {
  width: 1080px;
  margin: 0;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: var(--white);
}

#sidebar {
  background-color: var(--light-square);
  font-size: 0.9rem;
  padding: 10px;
  width: 100%;
}

/* 
#sidebar #main {
  width: 62%;
  padding: 10px;
}

input[type='text'] {
  border: gray;
  border-radius: 0.375 em;
} */
#chess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chess-board {
  border: solid 0px var(--black);
  width          : var(--board-size);
  height         : var(--board-size);
  margin         : 50px auto;
  border-collapse: collapse;
  table-layout   : fixed;
  /* Ensure that table layout does not change due to content */

}

.dark-square {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark-square);
  position: relative; /* Set position to relative for the square */
}

.light-square {
  width: 3rem;
  height: 3rem;
  background-color: var(--light-square);
  position: relative; /* Set position to relative for the square */
}

/* Absolute positioning for the text within the square */
.chess-board td::before {
  content: attr(id); /* Display the coordinate text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; /* Align to the top */
  justify-content: flex-start; /* Align to the left */
  padding-top: 0.1rem;
  box-sizing: border-box;
  z-index: 1;
}

/* colors for the squares on the chessboard 
* use odd/even children 
*/
.chess-board tr:nth-child(odd) td:nth-child(even),
.chess-board tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--dark-square);
}

.chess-board tr:nth-child(odd) td:nth-child(odd),
.chess-board tr:nth-child(even) td:nth-child(even) {
  background-color: var(--light-square);
}

table {
  border-collapse: collapse;
  width: var(--board-size);
  height: var(--board-size);
  margin: 50px auto;
  table-layout: fixed; /* Ensure that table layout does not change due to content */

}

td {
  display: table-cell;
  position: relative;
  width: var(--square-size);
  height: var(--square-size);
  min-width: var(--square-size); /* Set minimum width */
  min-height: var(--square-size); /* Set minimum height */
  text-align: center;
  vertical-align: middle;
}

td::before {
  content: attr(id);
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.8em; /* Keep the number size unchanged */
  color: #333;
  z-index: 1;
}


.chess-piece {
  font-size: 3em; /* Increase the size of the chess pieces */
  line-height: 1em; /* Adjust line height to prevent extra vertical space */
  z-index: 4;
}

/* Ensure using border-box */
*, *::before, *::after {
  box-sizing: border-box;
}
/* set highlighted */

.highlighted {
  background-color: var(--black) !important;
  opacity: 0.4;
  z-index: 0;
  pointer-events: none; /* Allow clicks to pass through */
}


@media (max-width: 400px) {
  :root {
    --square-size: calc((100vw - var(--layout-padding-inline) * 2) / 8);
  }
}

@media (orientation: landscape) {
  :root {
    --square-size: calc((100vh - var(--layout-padding-inline) * 2) / 8);
  }
}
